body{
    background-color:lightgray;
}
.apple {
    width: 25%; 
    height: auto; 
}
.jumbotron{
    background-color:lightgray;
}
a{
    font-size:24px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: lightgray;
    color: white;
  }
#carouselExampleFade{
    background-color: lightgray;
    width: 80%;
    height: auto;
    object-fit: cover;
    border: 15px solid black;
}
#parallax{
  /* The image used */
  background-image: url("../img/20171029_121952_042.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}